<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <servlet>
    <servlet-name>radarNewProxy</servlet-name>
    <servlet-class>org.mitre.dsmiley.httpproxy.ProxyServlet</servlet-class>
    <init-param>
      <param-name>targetUri</param-name>
      <param-value>http://rest-proxy-1:8082</param-value>
    </init-param>
    <init-param>
      <param-name>log</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>radarNewProxy</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>ManagementPortalAuthenticationFilter</filter-name>
    <filter-class>org.radarcns.gateway.filter.ManagementPortalAuthenticationFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>ManagementPortalAuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>KafkaTopicFilter</filter-name>
    <filter-class>org.radarcns.gateway.filter.KafkaTopicFilter</filter-class>
    <init-param>
      <param-name>targetUri</param-name>
      <param-value>http://rest-proxy-1:8082</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>KafkaTopicFilter</filter-name>
    <url-pattern>/topics/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>GzipDecompressFilter</filter-name>
    <filter-class>org.radarcns.gateway.filter.GzipDecompressFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>GzipDecompressFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>AvroContentFilter</filter-name>
    <filter-class>org.radarcns.gateway.filter.AvroContentFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>AvroContentFilter</filter-name>
    <url-pattern>/topics/*</url-pattern>
  </filter-mapping>

</web-app>